<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h2>Team Name: <%=@team["name"]%></h2>
    <h4>Coach: <%=@team["coach"]%></h4>
    <h4>Point Guard: <%=@team["pg"]%></h4>
    <h4>Shooting Guard: <%=@team["sg"]%></h4>
    <h4>Small Forward: <%=@team["sf"]%></h4>
    <h4>Power Forward: <%=@team["pf"]%></h4>
    <h4>Center: <%=@team["c"]%></h4>
 </body>
</html>


